
.fullscreen-icon {
    background-image: url(../images/icon-fullscreen.png);
}

/* one selector per rule as explained here : http://www.sitepoint.com/html5-full-screen-api/ */
#map:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

#map:-ms-fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

#map:full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

#map:fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-pseudo-fullscreen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 99999;
}

.circle_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#map {
    height: 500px;
    width: 100%;
}
