<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaflet Tutorials</title>
    <link rel="stylesheet" href="static/css/leaflet.css"/>
    <link rel="stylesheet" href="static/css/screen.css"/>
    <link rel="stylesheet" href="static/css/MarkerCluster.css"/>
    <link rel="stylesheet" href="static/css/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="static/css/leaflet-search.min.css"/>
    <link rel="stylesheet" href="static/css/L.Control.Locate.min.css"/>
    <link rel="stylesheet" href="static/css/styles.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <script src="static/js/leaflet.js"></script>
    <script src="static/js/leaflet.markercluster.js"></script>
    <script src="static/js/leaflet-search.min.js"></script>
    <script src="static/js/leaflet.smoothmarkerbouncing.js"></script>
    <script src="static/js/L.Control.Locate.min.js"></script>
    <script src="static/js/Control.FullScreen.js"></script>
    <script src="static/js/jquery.min.js"></script>

</head>
<body>
<div id="map"></div>
<script src="static/js/app.js"></script>
</body>
</html>